### 한국과 미국의 코로나 수 분석
데이터 분석의 목적 : 여행을 목적으로, 코로나 상황을 파악하려고 함

In [1]:
import pandas as pd
df = pd.read_csv('./data/covid.csv')
# 코로나 데이터 불러오기
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346487 entries, 0 to 346486
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    346487 non-null  object
 1   continent                                   330035 non-null  object
 2   location                                    346487 non-null  object
 3   date                                        346487 non-null  object
 4   total_cases                                 308672 non-null  float64
 5   new_cases                                   337028 non-null  float64
 6   new_cases_smoothed                          335769 non-null  float64
 7   total_deaths                                287169 non-null  float64
 8   new_deaths                                  337072 non-null  float64
 9   new_deaths_smoothed                         335842 non-null  float64
 10  total_cases_per_million                     308672 non-null  float64
 11  new_cases_per_million                       337028 non-null  float64
 12  new_cases_smoothed_per_million              335769 non-null  float64
 13  total_deaths_per_million                    287169 non-null  float64
 14  new_deaths_per_million                      337072 non-null  float64
 15  new_deaths_smoothed_per_million             335842 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37464 non-null   float64
 18  icu_patients_per_million                    37464 non-null   float64
 19  hosp_patients                               38695 non-null   float64
 20  hosp_patients_per_million                   38695 non-null   float64
 21  weekly_icu_admissions                       10139 non-null   float64
 22  weekly_icu_admissions_per_million           10139 non-null   float64
 23  weekly_hosp_admissions                      23103 non-null   float64
 24  weekly_hosp_admissions_per_million          23103 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          78894 non-null   float64
 35  people_vaccinated                           75519 non-null   float64
 36  people_fully_vaccinated                     72165 non-null   float64
 37  total_boosters                              47179 non-null   float64
 38  new_vaccinations                            64970 non-null   float64
 39  new_vaccinations_smoothed                   179191 non-null  float64
 40  total_vaccinations_per_hundred              78894 non-null   float64
 41  people_vaccinated_per_hundred               75519 non-null   float64
 42  people_fully_vaccinated_per_hundred         72165 non-null   float64
 43  total_boosters_per_hundred                  47179 non-null   float64
 44  new_vaccinations_smoothed_per_million       179191 non-null  float64
 45  new_people_vaccinated_smoothed              178841 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  178841 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          294131 non-null  float64
 49  median_age                                  273544 non-null  float64
 50  aged_65_older                               263969 non-null  float64
 51  aged_70_older                               270802 non-null  float64
 52  gdp_per_capita                              268082 non-null  float64
 53  extreme_poverty                             172750 non-null  float64
 54  cardiovasc_death_rate                       268697 non-null  float64
 55  diabetes_prevalence                         282368 non-null  float64
 56  female_smokers                              201541 non-null  float64
 57  male_smokers                                198799 non-null  float64
 58  handwashing_facilities                      131618 non-null  float64
 59  hospital_beds_per_thousand                  237187 non-null  float64
 60  life_expectancy                             318787 non-null  float64
 61  human_development_index                     260432 non-null  float64
 62  population                                  346487 non-null  float64
 63  excess_mortality_cumulative_absolute        11944 non-null   float64
 64  excess_mortality_cumulative                 11944 non-null   float64
 65  excess_mortality                            11944 non-null   float64
 66  excess_mortality_cumulative_per_million     11944 non-null   float64
dtypes: float64(62), object(5)
memory usage: 177.1+ MB

In [4]:
df.shape
# 346487행, 67열

(346487, 67)

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [6]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
346482,ZWE,Africa,Zimbabwe,2023-09-30,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346483,ZWE,Africa,Zimbabwe,2023-10-01,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346484,ZWE,Africa,Zimbabwe,2023-10-02,265753.0,0.0,0.714,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346485,ZWE,Africa,Zimbabwe,2023-10-03,265753.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
346486,ZWE,Africa,Zimbabwe,2023-10-04,265753.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [8]:
df = df[['iso_code', 'location', 'date', 'total_cases', 'population']]
df.head()

  iso_code     location        date  total_cases  population
0      AFG  Afghanistan  2020-01-03          NaN  41128772.0
1      AFG  Afghanistan  2020-01-04          NaN  41128772.0
2      AFG  Afghanistan  2020-01-05          NaN  41128772.0
3      AFG  Afghanistan  2020-01-06          NaN  41128772.0
4      AFG  Afghanistan  2020-01-07          NaN  41128772.0

In [11]:
df['location'].head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: location, dtype: object

In [12]:
df['location'].unique()
# 중복되지 않는 데이터 출력!

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Lower middle income', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [24]:
# kor_df = df.loc[df.location == 'South Korea']
kor_df = df[df['location'] == 'South Korea']
# 두 방식 둘 다 동작함! ( df.location과 df[df['location']])은 동일함!
kor_df = kor_df.set_index('date')
kor_df
# 날자가 유니크하기에 index로 사용해도 됨!
kor_df.info()
kor_df.tail()

<class 'pandas.core.frame.DataFrame'>
Index: 1371 entries, 2020-01-03 to 2023-10-04
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   iso_code     1371 non-null   object
 1   location     1371 non-null   object
 2   total_cases  1355 non-null   float64
 3   population   1371 non-null   float64
dtypes: float64(2), object(2)
memory usage: 53.6+ KB

           iso_code     location  total_cases  population
date
2023-09-30      KOR  South Korea   34571873.0  51815808.0
2023-10-01      KOR  South Korea   34571873.0  51815808.0
2023-10-02      KOR  South Korea   34571873.0  51815808.0
2023-10-03      KOR  South Korea   34571873.0  51815808.0
2023-10-04      KOR  South Korea   34571873.0  51815808.0

In [26]:
usa_df = df[df['location'] == 'United States']
usa_df = usa_df.set_index('date')
# 유니크한 값으로 인덱스 결정!
usa_df

           iso_code       location  total_cases   population
date
2020-01-03      USA  United States          NaN  338289856.0
2020-01-04      USA  United States          NaN  338289856.0
2020-01-05      USA  United States          NaN  338289856.0
2020-01-06      USA  United States          NaN  338289856.0
2020-01-07      USA  United States          NaN  338289856.0
...             ...            ...          ...          ...
2023-09-30      USA  United States  103436829.0  338289856.0
2023-10-01      USA  United States  103436829.0  338289856.0
2023-10-02      USA  United States  103436829.0  338289856.0
2023-10-03      USA  United States  103436829.0  338289856.0
2023-10-04      USA  United States  103436829.0  338289856.0

[1371 rows x 4 columns]