In [3]:
import pandas as pd
# csv 읽기
df = pd.read_csv('./data/cars.csv')
df.head()

   year  accident  dead  hert
0  2000      3910   569  2845
1  2001      3638   456  2331
2  2002      3957   421  2115
3  2003      3585   348  1843
4  2004      3242   300  1555