In [2]:
!pip install pandas
# 판다스 설치

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd
df = pd.DataFrame({
    'Name' : ['Alice', 'layla-focalors', 'arisia'],
    'LectureA' : [100,100,100],
    'LectureB' : [100,100,100]
}, columns=['Name', 'LectureA', 'LectureB'])
df

             Name  LectureA  LectureB
0           Alice       100       100
1  layla-focalors       100       100
2          arisia       100       100

In [9]:
df

             Name  LectureA  LectureB  LectureC
0           Alice       100       100       100
1  layla-focalors       100       100       100
2          arisia       100       100       100

In [8]:
df['LectureC'] = [100,100,100]

In [5]:
df['LectureA'].mean()

100.0