In [ ]:
# 위도와 경도를 포함한 지하철 승하차 분석하기
# 데이터
# kaggle - 서울 지하철 정보
# folium - 위치 분석 시스템

In [1]:
import pandas as pd
df = pd.read_csv('./data/seoul_metro/seoul-metro-2021.logs.csv')
df

                             timestamp  station_code  people_in  people_out
0        2021-01-01T05:00:00.000+09:00           150         86          85
1        2021-01-01T06:00:00.000+09:00           150        111         355
2        2021-01-01T07:00:00.000+09:00           150        157         438
3        2021-01-01T08:00:00.000+09:00           150        306         592
4        2021-01-01T09:00:00.000+09:00           150        333         841
...                                ...           ...        ...         ...
1941548  2021-12-31T19:00:00.000+09:00          2828         74         263
1941549  2021-12-31T20:00:00.000+09:00          2828         73         145
1941550  2021-12-31T21:00:00.000+09:00          2828         95         209
1941551  2021-12-31T22:00:00.000+09:00          2828         54         138
1941552  2021-12-31T23:00:00.000+09:00          2828         18          34

[1941553 rows x 4 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941553 entries, 0 to 1941552
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   timestamp     object
 1   station_code  int64
 2   people_in     int64
 3   people_out    int64
dtypes: int64(3), object(1)
memory usage: 59.3+ MB

In [3]:
df.head()

                       timestamp  station_code  people_in  people_out
0  2021-01-01T05:00:00.000+09:00           150         86          85
1  2021-01-01T06:00:00.000+09:00           150        111         355
2  2021-01-01T07:00:00.000+09:00           150        157         438
3  2021-01-01T08:00:00.000+09:00           150        306         592
4  2021-01-01T09:00:00.000+09:00           150        333         841